#contents FIELDSET.t_search {
	TEXT-ALIGN: right; MARGIN-TOP: -10px; MARGIN-BOTTOM: 10px; HEIGHT: 20px
}
FIELDSET.t_search .input-search {
	LINE-HEIGHT: 1; WIDTH: 135px; HEIGHT: 16px; VERTICAL-ALIGN: top; _margin-top: -1px
}
FIELDSET.t_search .btn-search {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; TEXT-INDENT: -20000px; WIDTH: 54px; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/btn_search.gif) no-repeat left top; HEIGHT: 20px; MARGIN-LEFT: -1px; VERTICAL-ALIGN: top; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
FIELDSET.t_search SELECT {
	
}
TABLE {
	COLOR: #666
}
.baseTb {
	WIDTH: 100%;
}
.baseTb {
	*WIDTH: 98%;
}

.baseTb TH {
	BORDER-BOTTOM: #3c3c3c 2px solid; PADDING-BOTTOM: 7px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #fbfafa; BORDER-TOP: #eae9e8 1px solid; PADDING-TOP: 10px
}
.baseTb TD {
	BORDER-BOTTOM: #ecebea 1px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 7px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.baseTb TD.subject {
	TEXT-ALIGN: left; PADDING-LEFT: 20px; LETTER-SPACING: -1px
}
.baseTb TD IMG {
	VERTICAL-ALIGN: middle
}
.baseTb A {
	COLOR: #666; TEXT-DECORATION: none
}
.baseTb .replyicon {
	MARGIN-RIGHT: 5px
}
.baseTb .state SPAN {
	TEXT-ALIGN: center; PADDING-BOTTOM: 2px; MARGIN-TOP: -3px; PADDING-LEFT: 2px; WIDTH: 50px; PADDING-RIGHT: 2px; DISPLAY: inline-block; MARGIN-BOTTOM: -2px; LETTER-SPACING: -1px; FONT-SIZE: 11px; PADDING-TOP: 3px
}
.baseTb .state .stand {
	BORDER-BOTTOM: #d1d1d1 1px solid; BORDER-LEFT: #d1d1d1 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: #d1d1d1 1px solid; BORDER-RIGHT: #d1d1d1 1px solid; PADDING-TOP: 2px
}
.baseTb .state .take {
	BACKGROUND: #f7a629; COLOR: #fff
}
.baseTb .state .end {
	BACKGROUND: #ca1704; COLOR: #fff
}
.baseTb TR.this A {
	COLOR: #fff
}
.baseTb TR.this TD {
	BACKGROUND: #a3a3a3; COLOR: #fff
}
.baseTb TR.this TD.point {
	BACKGROUND: #5889cb
}
.baseTb TR.this TD.num {
	BACKGROUND: #5889cb
}
.baseTb TR.this .state .stand {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.baseTb TR.this .state .take {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.baseTb TR.this .state .end {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}


.baseTb2 {
	WIDTH: 100%;
}
.baseTb2 TH {
	BORDER-BOTTOM: #3c3c3c 2px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #fbfafa; BORDER-TOP: #eae9e8 1px solid; PADDING-TOP: 10px
}
.baseTb2 TD {
	BORDER-BOTTOM: #ecebea 1px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.baseTb2 TD.subject {
	TEXT-ALIGN: left; PADDING-LEFT: 20px; LETTER-SPACING: -1px
}
.baseT2 TD IMG {
	VERTICAL-ALIGN: middle
}
.baseTb2 A {
	COLOR: #666; TEXT-DECORATION: none
}
.baseTb2 .replyicon {
	MARGIN-RIGHT: 5px
}
.baseTb2 .state SPAN {
	TEXT-ALIGN: center; PADDING-BOTTOM: 2px; MARGIN-TOP: -3px; PADDING-LEFT: 2px; WIDTH: 50px; PADDING-RIGHT: 2px; DISPLAY: inline-block; MARGIN-BOTTOM: -2px; LETTER-SPACING: -1px; FONT-SIZE: 11px; PADDING-TOP: 3px
}
.baseTb2 .state .stand {
	BORDER-BOTTOM: #d1d1d1 1px solid; BORDER-LEFT: #d1d1d1 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: #d1d1d1 1px solid; BORDER-RIGHT: #d1d1d1 1px solid; PADDING-TOP: 2px
}
.baseTb2 .state .take {
	BACKGROUND: #f7a629; COLOR: #fff
}
.baseTb2 .state .end {
	BACKGROUND: #ca1704; COLOR: #fff
}
.baseTb2 TR.this A {
	COLOR: #fff
}
.baseTb2 TR.this TD {
	BACKGROUND: #a3a3a3; COLOR: #fff
}
.baseTb2 TR.this TD.point {
	BACKGROUND: #5889cb
}
.baseTb2 TR.this TD.num {
	BACKGROUND: #5889cb
}
.baseTb2 TR.this .state .stand {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.baseTb2 TR.this .state .take {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.baseTb2 TR.this .state .end {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}




.eventTb {
	BORDER-BOTTOM: #dad9d7 1px solid; WIDTH: 100%; OVERFLOW: hidden; BORDER-TOP: #3c3c3c 2px solid
}
.eventTb TD {
	BORDER-BOTTOM: #ecebea 1px solid; PADDING-BOTTOM: 18px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 18px
}
.eventTb TD.thumb IMG {
	BORDER-BOTTOM: #e8e8e8 3px solid; BORDER-LEFT: #e8e8e8 3px solid; BORDER-TOP: #e8e8e8 3px solid; BORDER-RIGHT: #e8e8e8 3px solid
}
.eventTb TD P.title {
	LINE-HEIGHT: 1.2; MARGIN: 20px 20px 18px 0px; FONT-FAMILY: "±¼¸²", sans-serif; COLOR: #313131; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.eventTb TD P.title A {
	COLOR: #313131; TEXT-DECORATION: none
}
.eventTb TD SPAN {
	DISPLAY: block; FLOAT: left
}
.eventTb TD EM {
	DISPLAY: block; FLOAT: left
}
.eventTb TD SPAN.date {
	FONT-FAMILY: "±¼¸²", gulim, sans-serif; COLOR: #9a9a9a; FONT-SIZE: 16px; VERTICAL-ALIGN: bottom; FONT-WEIGHT: bold
}
.eventTb TD EM {
	MARGIN: 0px 10px
}
.eventTb TD SPAN.count {
	MARGIN-TOP: 3px; COLOR: #9a9a9a; FONT-SIZE: 11px
}
.eventTb TD EM {
	MARGIN-TOP: 3px; COLOR: #9a9a9a; FONT-SIZE: 11px
}
.eventimg {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 20px
}
.eventTb H3 {
	BORDER-BOTTOM: #ecebea 1px solid; MARGIN-TOP: 40px; HEIGHT: 27px
}
.current-event {
	WIDTH: 100%; FLOAT: left; OVERFLOW: hidden
}
.current-event LI {
	PADDING-LEFT: 19px; FLOAT: left; PADDING-TOP: 20px
}
.current-event LI.first {
	PADDING-LEFT: 0px
}
.current-event DL {
	WIDTH: 244px
}
.current-event DT A IMG {
	BORDER-BOTTOM: #ecebea 1px solid; BORDER-LEFT: #ecebea 1px solid; BORDER-TOP: #ecebea 1px solid; BORDER-RIGHT: #ecebea 1px solid
}
.current-event DL DD {
	LINE-HEIGHT: 1.4; MARGIN: 10px 0px 20px; PADDING-LEFT: 13px; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/dot_red.gif) no-repeat 0px 2px
}
.current-event DL DD A {
	COLOR: #666
}
.current-event DD .date {
	COLOR: #9a9a9a
}
.current-event DD .date EM {
	MARGIN: 0px 10px
}
.baseView {
	BORDER-BOTTOM: #dad9d7 1px solid; BORDER-LEFT: #dad9d7 1px solid; WIDTH: auto; MARGIN-BOTTOM: 0px; BORDER-TOP: 0px; BORDER-RIGHT: #dad9d7 1px solid
}
.baseView .titleArea {
	WIDTH: 100%; BACKGROUND: #5c5c5c; COLOR: #fff; OVERFLOW: auto; FONT-WEIGHT: bold
}
.baseView .titleArea * {
	DISPLAY: block; FLOAT: left
}
.baseView .titleArea .num {
	BACKGROUND: #c81e0a
}
.baseView .titleArea EM {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 10px; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/bar_title.gif) no-repeat right 10px; PADDING-TOP: 10px
}
.baseView .titleArea .name {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 10px
}
.baseView .titleArea .title {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: #5c5c5c; PADDING-TOP: 10px
}
.baseView .titleArea2 {
	BACKGROUND: #a3a3a3; COLOR: #fff
}
.baseView .titleArea2 .name {
	PADDING-LEFT: 37px; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/ico_reply2.gif) #e85811 no-repeat 15px 10px; COLOR: #fff
}
.baseView .titleArea2 .title {
	BACKGROUND: #a3a3a3
}
.star {
	MARGIN: 2px 10px; WIDTH: 60px; DISPLAY: block; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/ico_star.gif) no-repeat -61px 0px; HEIGHT: 11px
}
.star SPAN {
	TEXT-INDENT: -10000em; DISPLAY: block; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/ico_star.gif) no-repeat 0px 0px; HEIGHT: 11px; COLOR: #fff !important; FONT-SIZE: 0px
}
.baseView .subinfo {
	BORDER-BOTTOM: #dad9d7 1px solid; PADDING-BOTTOM: 9px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: #fbfafa; LETTER-SPACING: -1px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 9px
}
.baseView .subinfo:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ""
}
.baseView .subinfo SPAN {
	DISPLAY: block; FLOAT: left; COLOR: #666; FONT-WEIGHT: bold
}
.baseView .subinfo EM {
	LETTER-SPACING: 0px; COLOR: #888; MARGIN-LEFT: 10px; FONT-WEIGHT: normal
}
.baseView .subinfo IMG {
	VERTICAL-ALIGN: middle
}
.baseView .subinfo .left {
	WIDTH: 40%
}
.baseView .subinfo .left2 {
	WIDTH: 25%
}
.baseView .subinfo .right {
	TEXT-ALIGN: right; FLOAT: right
}
.baseView .subinfo .rate {
	COLOR: #c81e0a
}
.baseView .subinfo .rate IMG {
	MARGIN-RIGHT: 5px
}
.baseView .cont {
	PADDING-BOTTOM: 20px; LINE-HEIGHT: 1.4em; PADDING-LEFT: 20px; WIDTH: auto; PADDING-RIGHT: 20px; WORD-WRAP: break-word; COLOR: #333; WORD-BREAK: break-all; PADDING-TOP: 20px
}
UL.nextpage {
	BORDER-BOTTOM: #b7b7b7 1px solid; WIDTH: auto; BACKGROUND: #fbfafa; OVERFLOW: auto; BORDER-TOP: #b7b7b7 1px solid
}
UL.nextpage LI {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; COLOR: #888; OVERFLOW: hidden; PADDING-TOP: 10px
}
UL.nextpage LI * {
	DISPLAY: block; FLOAT: left
}
UL.nextpage LI.prev {
	BORDER-BOTTOM: #ecebea 1px solid
}
UL.nextpage LI STRONG {
	WIDTH: 60px; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/ico_next.gif) no-repeat right center; COLOR: #666; FONT-WEIGHT: bold; MARGIN-RIGHT: 20px
}
UL.nextpage LI.prev STRONG {
	BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/ico_prev.gif) no-repeat right center
}
UL.nextpage LI EM {
	FLOAT: right
}
UL.nextpage LI A {
	TEXT-DECORATION: none
}
.btnArea {
	Z-INDEX: 1; POSITION: relative; TEXT-ALIGN: right; MARGIN-TOP: 10px; WIDTH: 100%; OVERFLOW: auto
}
.btnArea A {
	MARGIN-LEFT: 3px
}
.btnArea .notice {
	FLOAT: left; LETTER-SPACING: -1px; FONT-SIZE: 11px
}
.writeTb {
	BORDER-BOTTOM: #b7b7b7 1px solid; WIDTH: 100%; LETTER-SPACING: -1px; COLOR: #888; FONT-SIZE: 11px; BORDER-TOP: #3c3c3c 2px solid
}
.writeTb TR {
	VERTICAL-ALIGN: middle
}
.writeTb TR IMG {
	VERTICAL-ALIGN: middle
}
.writeTb TH {
	TEXT-ALIGN: left; PADDING-BOTTOM: 9px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; VERTICAL-ALIGN: top; BORDER-TOP: #ecebea 1px solid; PADDING-TOP: 9px
}
.writeTb TD {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: middle; BORDER-TOP: #ecebea 1px solid; PADDING-TOP: 6px
}
.writeTb TH.first {
	BORDER-TOP: 0px; PADDING-TOP: 10px
}
.writeTb TD.first {
	BORDER-TOP: 0px; PADDING-TOP: 10px
}
.writeTb TD.end {
	PADDING-BOTTOM: 10px
}
.writeTb TD .notice {
	MARGIN: 5px 0px; DISPLAY: block
}
.writeTb INPUT {
	HEIGHT: 16px
}
.writeTb TEXTAREA {
	WIDTH: 580px; HEIGHT: 110px
}
.writeTb SPAN {
	MARGIN-LEFT: 10px
}
#itemArea {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/line_dot.gif) repeat-x 0px 0px; PADDING-TOP: 10px
}
.first#itemArea {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#itemArea .row2 {
	MARGIN-TOP: 10px; OVERFLOW: hidden
}
.writeTb LABEL {
	COLOR: #666; FONT-SIZE: 12px
}
.writeTb .innerArea {
	FLOAT: left; MARGIN-LEFT: 30px
}
.writeTb .innerArea INPUT {
	MARGIN-LEFT: 5px
}
.writeTb .filetxt {
	MARGIN-TOP: 3px; DISPLAY: inline-block; FONT-SIZE: 12px
}
#fileupload {
	POSITION: relative; WIDTH: 440px; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/btn_fileadd.gif) no-repeat 100% 1px; FLOAT: left; HEIGHT: 20px; MARGIN-LEFT: 0px
}
#fileupload #realfile {
	FILTER: alpha(opacity=00); WIDTH: 440px; opacity: 0.0; -moz-opacity: 0.0
}
#fakefile {
	POSITION: absolute; WIDTH: 380px; TOP: 0px; LEFT: 0px
}
.ast {
	COLOR: #fc5a32; MARGIN-RIGHT: 4px
}
SPAN.writeday {
	LETTER-SPACING: 0px; COLOR: #666; MARGIN-LEFT: 0px; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.marketList {
	BORDER-BOTTOM: #dad9d7 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; BORDER-TOP: #dad9d7 1px solid; PADDING-TOP: 0px
}
.marketList:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ""
}
.marketList DL {
	BORDER-BOTTOM: #ecebea 1px solid; PADDING-BOTTOM: 18px; LINE-HEIGHT: 1.4; PADDING-LEFT: 15px; WIDTH: auto; PADDING-RIGHT: 0px; LETTER-SPACING: -1px; PADDING-TOP: 20px
}
.marketList DL:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ""
}
.marketList DL.end {
	BORDER-BOTTOM: 0px
}
.marketList DL DT {
	WIDTH: 143px; FLOAT: left
}
.marketList DL DT IMG.thumb {
	BORDER-BOTTOM: #dedede 3px solid; BORDER-LEFT: #dedede 3px solid; BORDER-TOP: #dedede 3px solid; BORDER-RIGHT: #dedede 3px solid
}
.marketList DL DD {
	WIDTH: auto; MARGIN-LEFT: 143px
}
.marketList DL DD.title {
	COLOR: #313131; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.marketList DL DD.title A {
	COLOR: #313131; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.marketList DL DD.title SPAN {
	TEXT-ALIGN: center; PADDING-BOTTOM: 2px; PADDING-LEFT: 3px; WIDTH: 90px; PADDING-RIGHT: 3px; DISPLAY: inline-block; BACKGROUND: #e58f29; FLOAT: left; COLOR: #fff; PADDING-TOP: 3px
}
.marketList DL DD.title STRONG {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; LETTER-SPACING: 0px; MARGIN-LEFT: 100px; PADDING-TOP: 3px
}
.marketList DL DD.title STRONG.portfolio {
	MARGIN-LEFT: 0px
}
.marketList DL DD.cont {
	TEXT-ALIGN: justify; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 15px; WORD-WRAP: break-word; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/line_dot.gif) repeat-x 0px 100%; WORD-BREAK: break-all; PADDING-TOP: 8px
}
.marketList DL DD.cont STRONG {
	COLOR: #666; MARGIN-RIGHT: 2px
}
.marketList DL DD.subinfo {
	MARGIN-TOP: 6px; LETTER-SPACING: 0px
}
.marketList DL DD.subinfo:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ""
}
.clock {
	MARGIN: 0px 4px; VERTICAL-ALIGN: middle
}
.marketList DL DD.subinfo .file {
	MARGIN: 2px 10px 0px 0px
}
.marketList DL DD.subinfo * {
	DISPLAY: block; FLOAT: left
}
.marketList DL DD.subinfo .rightArea {
	FLOAT: right
}
.marketList DL DD.subinfo EM {
	MARGIN: 0px 4px
}
.freeList {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.freeList:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ""
}
.freeList LI {
	BORDER-BOTTOM: #d7d7d7 1px solid; MARGIN-TOP: 30px
}
.freeList LI.first {
	MARGIN-TOP: 0px
}
.freeList DT {
	BORDER-BOTTOM: #ecebea 1px solid; LETTER-SPACING: -1px; BORDER-TOP: #3c3c3c 2px solid; FONT-WEIGHT: bold
}
.freeList DT EM {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 40px; PADDING-RIGHT: 15px; DISPLAY: inline-block; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/ico_word.gif) no-repeat 15px 8px; PADDING-TOP: 10px
}
.freeList DT STRONG {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: inline-block; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/bar_free.gif) no-repeat 0px center; PADDING-TOP: 10px
}
.freeList DT A {
	COLOR: #313131
}
.freeList DD {
	PADDING-BOTTOM: 11px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 11px
}
.freeList DD.cont {
	LINE-HEIGHT: 1.3em; WORD-WRAP: break-word; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/line_dot.gif) repeat-x 0px 100%; WORD-BREAK: break-all
}
.freeList DD.subinfo {
	COLOR: #888
}
.freeList DD.subinfo:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ""
}
.freeList DD.subinfo .leftArea {
	DISPLAY: inline-block; FLOAT: left; FONT-WEIGHT: bold
}
.freeList DD.subinfo .leftArea .text-type {
	FONT-SIZE: 11px
}
.freeList DD.subinfo .rightArea {
	DISPLAY: inline-block; FLOAT: right
}
.freeList DD.subinfo EM {
	MARGIN: 0px 5px; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.orange {
	COLOR: #f6960b !important
}
.marketList.roundBox DL {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
.roundBox .freeList DT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; LETTER-SPACING: -1px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.roundBox .freeList DT EM {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 15px; BACKGROUND-POSITION: 0px 2px; PADDING-TOP: 5px
}
.roundBox .freeList DT STRONG {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px 4px; FONT-SIZE: 15px; PADDING-TOP: 0px
}
.roundBox .freeList DD.cont {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; WORD-WRAP: break-word; WORD-BREAK: break-all; PADDING-TOP: 10px
}
.roundBox .freeList DD.cont .writedate {
	TEXT-ALIGN: right; MARGIN-TOP: -15px; DISPLAY: block
}
.roundBox .freeList DD.subinfo {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 10px
}
.roundBox .freeList DD.subinfo .leftArea {
	FONT-WEIGHT: normal
}
.roundBox .freeList DD.subinfo .uid {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 30px; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/bul_reply.gif) no-repeat 0px 0px; COLOR: #60b1c0; PADDING-TOP: 0px
}
.roundBox .freeList DD.subinfo .rightArea {
	COLOR: #e7a5a1
}
.roundBox .freeList DD.reply {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 10px
}
.roundBox .freeList DD.reply A {
	COLOR: #f6960b; TEXT-DECORATION: underline !important
}
.roundBox .style2.freeList DT EM {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #6d615e; COLOR: #fff; PADDING-TOP: 3px
}
.roundBox .style2.freeList DT STRONG {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.roundBox .style2.freeList DD.subinfo .uid {
	FLOAT: left
}
.roundBox .style2.freeList DD.subinfo .text {
	WIDTH: 510px; DISPLAY: inline-block
}
.dateArea {
	TEXT-ALIGN: center; WIDTH: 100%; PADDING-TOP: 5px
}
.dateArea SPAN {
	DISPLAY: block
}
.dateArea .year {
	LINE-HEIGHT: 1; FONT-FAMILY: verdana, Tahoma, Geneva, sans-serif; COLOR: #dfdfdf; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
.dateArea .date {
	LINE-HEIGHT: 1; FONT-FAMILY: verdana, Tahoma, Geneva, sans-serif; COLOR: #dfdfdf; FONT-SIZE: 67px; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
.marketList DL.this DD.title {
	BACKGROUND: #a3a3a3; COLOR: #fff
}
.marketList DL.this DD.title A {
	BACKGROUND: #a3a3a3; COLOR: #fff
}
.marketList DL.this DD.title SPAN {
	BACKGROUND: #ca1704
}
.marketList DL.this DD.cont {
	BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/line_dot.gif) #ededed repeat-x 0px 100%
}
.marketList DL.this DT .thumbDate {
	COLOR: #dfdfdf
}
.marketList DL.this DT.dateArea .year {
	COLOR: #585858
}
.dateArea .this.year {
	COLOR: #585858
}
.marketList DL.this DT.dateArea .date {
	COLOR: #363636
}
.dateArea .this.date {
	COLOR: #363636
}
.freeList DL.this DT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND: #a3a3a3; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.freeList DL.this DT EM {
	PADDING-BOTTOM: 11px; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/ico_word_on.gif) #c81e0a no-repeat 15px 10px; COLOR: #fff; PADDING-TOP: 12px
}
.freeList DL.this DT STRONG {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 11px; PADDING-TOP: 12px
}
.freeList DL.this DT STRONG A {
	COLOR: #fff
}
.freeList DL.this DD.cont {
	BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/line_dot.gif) #ededed repeat-x 0px 100%
}
.roundBox {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN-TOP: 6px; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/box_bottom.gif) no-repeat 0px 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.roundBox DL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 15px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/box_top.gif) no-repeat 0px 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 15px
}
.roundBox DL DT {
	BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/box_thumb_bg.gif) no-repeat right 0px
}
.roundBox DL DT.dateArea {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.roundBox DL DD.title STRONG {
	MARGIN-TOP: -2px; FONT-SIZE: 14px
}
.roundBox DL DD.title STRONG A {
	MARGIN-TOP: -2px; FONT-SIZE: 14px
}
.partnerBox {
	POSITION: relative; WIDTH: 732px; MARGIN-BOTTOM: 20px; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/market_view_bg.gif) no-repeat 0px 0px; HEIGHT: 69px
}
.partnerphoto {
	BORDER-BOTTOM: #e6e6e7 1px solid; BORDER-LEFT: #e6e6e7 1px solid; WIDTH: 72px; FLOAT: left; HEIGHT: 67px; BORDER-TOP: #e6e6e7 1px solid; BORDER-RIGHT: #e6e6e7 1px solid; positon: relative
}
.partnerphoto SPAN {
	POSITION: absolute; TEXT-ALIGN: center; FILTER: alpha(opacity=60); LINE-HEIGHT: 1.2; BACKGROUND-COLOR: #000; WIDTH: 72px; BOTTOM: 1px; DISPLAY: block; COLOR: #fff; PADDING-TOP: 2px; LEFT: 1px; opacity: 0.6
}
.partnerBox DL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 32px; WIDTH: 600px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #888; PADDING-TOP: 13px
}
.partnerBox DL DT {
	PADDING-BOTTOM: 10px; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.partnerBox DL DT STRONG {
	COLOR: #333
}
.partnerBox DL DT .btn-profile {
	DISPLAY: inline-block; MARGIN-LEFT: 10px; VERTICAL-ALIGN: bottom
}
.partnerBox DL DD {
	LETTER-SPACING: -1px
}
.partnerBox UL {
	POSITION: absolute; PADDING-TOP: 18px; LEFT: 430px
}
.partnerBox UL LI {
	PADDING-LEFT: 10px; MARGIN-BOTTOM: 5px; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/dot_red.gif) no-repeat 0px 4px; COLOR: #888
}
.partnerBox UL LI SPAN {
	COLOR: #666
}
.partnerBox UL LI EM {
	MARGIN: 0px 5px; COLOR: #dfdfe0
}
#replyArea {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 20px; PADDING-LEFT: 10px; WIDTH: auto; PADDING-RIGHT: 10px; BORDER-TOP: #ecebea 1px solid; PADDING-TOP: 20px
}
#replyArea DL {
	PADDING-BOTTOM: 10px
}
#replyArea DL.title DT {
	HEIGHT: 23px
}
#replyArea DL.title DD {
	LETTER-SPACING: -1px; FONT-SIZE: 11px
}
FIELDSET.reply {
	WIDTH: auto; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/replybox_bg.gif) no-repeat 0px 0px; HEIGHT: 85px
}
FIELDSET.reply TEXTAREA {
	BORDER-BOTTOM: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; PADDING-BOTTOM: 2px; MARGIN: 15px 8px 0px 15px; PADDING-LEFT: 2px; WIDTH: 490px; PADDING-RIGHT: 2px; FLOAT: left; HEIGHT: 50px; COLOR: #838383; BORDER-TOP: #e0e0e0 1px solid; BORDER-RIGHT: #e0e0e0 1px solid; PADDING-TOP: 2px
}
FIELDSET.reply .pass {
	MARGIN-TOP: 25px; WIDTH: 80px; FLOAT: left
}
FIELDSET.reply .pass LABEL {
	WIDTH: 100%; DISPLAY: block; LETTER-SPACING: -1px; COLOR: #999; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.passDelete LABEL {
	WIDTH: 100%; DISPLAY: block; LETTER-SPACING: -1px; COLOR: #999; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
FIELDSET.reply .pass INPUT {
	WIDTH: 75px
}
.passDelete INPUT {
	WIDTH: 75px
}
.input-pass {
	WIDTH: 75px
}
FIELDSET.reply BUTTON {
	TEXT-ALIGN: right; MARGIN-TOP: 15px; MARGIN-LEFT: 5px
}
.replyView {
	PADDING-BOTTOM: 11px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LETTER-SPACING: -1px; COLOR: #888888; FONT-SIZE: 11px; FONT-WEIGHT: bold; PADDING-TOP: 11px
}
.replyView STRONG {
	COLOR: #f6960b; MARGIN-RIGHT: 8px
}
.replyView EM {
	MARGIN: 0px 7px; FONT-WEIGHT: normal
}
.replyView A {
	MARGIN-RIGHT: 8px
}
#replyShow {
	DISPLAY: block; MARGIN-BOTTOM: -20px
}
.replyList LI {
	BORDER-BOTTOM: #ecebea 1px solid; MARGIN-TOP: 0px; WIDTH: auto
}
.replyList LI.last {
	BORDER-BOTTOM: medium none
}
.replyList IMG {
	VERTICAL-ALIGN: middle
}
.replyList .reply-text {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.replyList .reply-text * {
	DISPLAY: block; FLOAT: left
}
.replyList .reply-text .uid {
	WIDTH: 95px; COLOR: #80c1cd
}
.replyList .rightArea {
	FLOAT: right
}
.replyList .rightArea A {
	MARGIN: 2px 0px 0px 10px
}
.replyList .rightArea EM {
	COLOR: #e7a5a1
}
.replyList .passDelete {
	TEXT-ALIGN: right; PADDING-BOTTOM: 7px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/line_dot.gif) repeat-x 0px 0px; PADDING-TOP: 7px
}
.replyList .passDelete .pass {
	DISPLAY: inline; LETTER-SPACING: -1px; COLOR: #999; FONT-SIZE: 11px; FONT-WEIGHT: bold; MARGIN-RIGHT: 6px
}
.replyList .passDelete A {
	MARGIN-LEFT: 2px
}
#smsArea {
	BORDER-BOTTOM: #d7d7d7 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; BORDER-TOP: #d7d7d7 1px solid; PADDING-TOP: 20px
}
#smsArea:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ""
}
.years {
	POSITION: relative; LINE-HEIGHT: 1; MARGIN: 0px auto; WIDTH: 170px; FONT-FAMILY: verdana, Tahoma, Geneva, sans-serif; HEIGHT: 47px
}
.years .year {
	POSITION: absolute; TEXT-ALIGN: center; WIDTH: 100%; COLOR: #666; FONT-SIZE: 13px; TOP: 0px; FONT-WEIGHT: bold; LEFT: 0px
}
.years .month {
	POSITION: absolute; TEXT-ALIGN: center; WIDTH: 100%; COLOR: #333; FONT-SIZE: 36px; TOP: 14px; LEFT: 0px
}
.years .left {
	POSITION: absolute; TOP: 25px; LEFT: 0px
}
.years .right {
	POSITION: absolute; TOP: 25px; RIGHT: 0px
}
.smsList {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 4px
}
.smsList LI {
	PADDING-BOTTOM: 25px; PADDING-LEFT: 23px; PADDING-RIGHT: 0px; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/line_dot.gif) repeat-x 0px 0px; FLOAT: left; PADDING-TOP: 25px
}
.smsList LI.first {
	PADDING-LEFT: 0px
}
.smsList LI.nobor {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.smsList DL.sms {
	POSITION: relative; WIDTH: 176px; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/strategy/sms_bg.gif) no-repeat 0px 0px; HEIGHT: 201px; COLOR: #494949
}
.smsList DL.sms DT {
	POSITION: absolute; TEXT-ALIGN: center; WIDTH: 100%; TOP: 175px; FONT-WEIGHT: bold; LEFT: 0px
}
.smsList DL.sms DD {
	POSITION: absolute; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.3; PADDING-LEFT: 10px; WIDTH: 130px; PADDING-RIGHT: 0px; TOP: 14px; PADDING-TOP: 30px; LEFT: 14px
}
.smsList DL.sms DD.new {
	BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/ico_new_sms.gif) no-repeat 0px 0px
}
.smsList DL.sms DD SPAN {
	DISPLAY: block; PADDING-TOP: 2px
}
.paging {
	POSITION: relative; TEXT-ALIGN: center; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #808080; FONT-SIZE: 11px; OVERFLOW: hidden; WORD-SPACING: 2px; PADDING-TOP: 5px
}
.paging .prev {
	MARGIN: 0px 5px
}
.paging .next {
	MARGIN: 0px 5px
}
.paging A:hover {
	COLOR: #c00e0e; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.paging A.current {
	COLOR: #c00e0e; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.paging SPAN.current {
	COLOR: #c00e0e; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.paging IMG {
	MARGIN-TOP: -1px; VERTICAL-ALIGN: middle
}
.faq-list {
	BORDER-BOTTOM: #dad9d7 1px solid; LINE-HEIGHT: 1.5; LETTER-SPACING: -1px; PADDING-TOP: 5px
}
.faq-list LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #ecebea 1px solid; PADDING-TOP: 0px
}
.faq-list LI.first {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.faq-list .faq-q {
	POSITION: relative; PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; WIDTH: auto; PADDING-RIGHT: 15px; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/ico_q.gif) no-repeat 15px 12px; PADDING-TOP: 15px
}
.faq-list .faq-q .question {
	PADDING-LEFT: 40px; WIDTH: 680px; DISPLAY: block; COLOR: #666; FONT-WEIGHT: normal
}
.faq-list .faq-q .question A {
	COLOR: #666
}
.faq-list .faq-q .arrow {
	POSITION: absolute; WIDTH: 11px; DISPLAY: block; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/ico_fold.gif); HEIGHT: 6px; OVERFLOW: hidden; TOP: 20px; CURSOR: pointer; RIGHT: 17px
}
.faq-list .current.faq-q .arrow {
	BACKGROUND-POSITION: left -6px
}
.faq-list .faq-a {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; WIDTH: auto; PADDING-RIGHT: 20px; DISPLAY: none; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/line_dot.gif) #f4f4f4 repeat-x 0px 0px; COLOR: #888; PADDING-TOP: 15px
}
.faq-list .faq-a .answer {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 40px; DISPLAY: block; BACKGROUND: url(http://img.thinkpool.com/concert/qbot/qbot5/images/common/ico_a.gif) no-repeat 0px 0px
}
