#wrap{MIN-HEIGHT: 100%; WIDTH: 1012px; height: 675px;POSITION: relative;}
H1 {WIDTH: 200px; FLOAT: left}
#header{PADDING-TOP: 0px;WIDTH: 100%; HEIGHT: 50px; background-color:#e8e8ea}
#container{ WIDTH: 1012px; height:655px; background-color:#e5e5e5;}
#container #snb{float:left; width: 190px; height:643px; margin-left:10px;  border: 1px solid #ccc; background-color:#FFF; overflow:hidden; padding:0 10px;}
#container #right_con{float:left;position:relative; width:750px; padding:10px;height:623px; border: 1px solid #ccc; background-color:#FFFFFF; margin-left:9px; overflow:hidden;}
.top_tit{padding: 20px 0 0 10px}

#snb .lst_menu{padding:10px 0 0}
#snb .lst_menu ul{padding:0 0 0 8px}
#snb .lst_menu li{border-bottom:1px solid #e5e5e5; padding-left:12px; background:url(http://img.thinkpool.com/concert/qbot/qbot11/web/images/bu_10.gif) no-repeat 8px 18px}
#snb .lst_menu li a{display:block;overflow:hidden;padding:15px 0 4px 10px;color:#333; font-size:14px;text-decoration:none}
#snb .lst_menu li a:hover,#snb .lst_menu li a.on{font-weight:bold;letter-spacing:-1px; color:#F00}
.group_tit{position:relative;height:25px;margin-bottom:3px;padding-top:12px; padding-left:10px}
.group_tit h3{display:inline;font-size:18px;font-weight:bold;line-height:20px; color:#222}
.group_tit h3 span{font-size:12px; color:#666; font-weight:normal}
.group_tit .r_area{position:absolute;right:0;top:7px}
.group_tit .r_area img{margin-left:2px;vertical-align:top}
.group_tit .r_area .date{display:inline-block;padding:4px 7px 0 0;color:#999}

.vod_ban{position:absolute; bottom:-10px}

.bbs_list{padding-bottom:17px}
.bbs_list table{width:100%;margin-bottom:5px;border-bottom:1px solid #d5d6d9}
.bbs_list th{height:27px;padding-top:3px;border:solid #d5d6d9;border-width:1px 0;background:#f9f9f9;color:#666;font-size:12px; font-weight:normal}
.bbs_list td{padding:7px 0 6px 15px;border-top:1px solid #f2f2f2;background:#fff; line-height:17px; font-size:12px; color:#777}
.bbs_list td a{color:#333; font-size:12px}
.bbs_list td.l{text-align:left}
.bbs_list td.pl10{padding-left:10px}
.bbs_list td.c{text-align:center; padding:0px}
.bbs_list td.r{text-align:right}
.bbs_list td.g a{color:#666;text-decoration:none}
.bbs_list td.g a:hover,a:active,a:focus{text-decoration:underline}
.bbs_list tr.line5 td{border-top:1px solid #d5d6d9}
.bbs_list tr:first-child td{border-top:1px solid #d5d6d9}
.bbs_list tr:hover td{background-color:#f7f7f7}
.bbs_list img{margin-top:-2px;vertical-align:middle}
.bbs_list em{color:#f60;font-size:11px}
.bbs_list .point{color:#f60}
.bbs_list .re{padding:0 0 0 36px;background:url('http://img.thinkpool.com/concert/qbot/qbot11/web/images/ico_re.gif') no-repeat 5px 2px}
.bbs_list td a.item{text-align:left; font-size:11px}

.srch_list{text-align:center; margin-bottom:20px}
.srch_list .input_tx{width:75px;height:15px;margin:0 1px 2px 4px;padding:3px 0 0 3px;border:1px solid #c9c9c9;color:#999;font-size:11px;vertical-align:middle}
.srch_list .select_tx{height:20px;margin:0 1px 2px 0px;border:1px solid #c9c9c9;color:#999;font-size:12px;vertical-align:middle}
.srch_list .select_tx option{padding-top:3px}
.srch_list img{margin-bottom:2px;vertical-align:middle;}
.srch_list .txgi{margin-top:10px; color:#777}

.bbs_view .head_area{position:relative;height:25px;padding:10px 110px 0 11px;border:solid #d5d6d9;border-width:1px 0;background:#f9f9f9;color:#555}
.bbs_view .head_area strong{font-size:15px}
.bbs_view .head_area .date{position:absolute;right:8px;top:13px; color:#666}
.bbs_view .tx_area{padding:15px 10px 10px 12px; height:410px;border-bottom:1px solid #d5d6d9;background:#fff;overflow:auto; color:#555}
.bbs_view .tx_area .mark{height:24px;text-align:right}
.bbs_view .tx_area .mark .bar{color:#999}
.bbs_view .tx_area p{padding:10px 0 55px;line-height:24px}

/* 시황 읽기*/
.bbs_view .tx_area2{padding:15px 10px 10px 12px; height:230px;border-bottom:1px solid #d5d6d9;background:#fff;overflow:auto; color:#555}
.bbs_view .tx_area2 .mark{height:24px;text-align:right}
.bbs_view .tx_area2 .mark .bar{color:#999}
.bbs_view .tx_area2 p{padding:10px 0 55px;line-height:24px}

.condi_area{height:150px;padding:10px 20px;border:1px solid #d5d5d5;overflow:hidden; margin-bottom:10px}
.condi_area .condi_box01{float:left;width:430px}
.condi_area .charts{float:left;width:230px;margin-left:10px;padding-top:5px}
.condi_area .desc{float:left;width:180px}
.condi_area .desc li{padding:7px 0 3px 0; line-height:21px}
.condi_area .desc li.dat{background-position:0 4px;border-bottom: 1px solid #ccc;font-size:18px;text-align:center}
.condi_area .desc li.dat2{background-position:0 4px;font-size:16px;text-align:center}
.condi_area .desc li .up{background-position:0 4px; font-size:16px}
.condi_area .desc li .tx{font-size:12px; text-align:center; color:#555}

.condi_area .anal{position:relative;float:right;width:250px}
.condi_area .anal strong{display:block; height:18px; padding-top:7px;padding-left:2px;color:#222}
.condi_area .anal .rank{display:block;padding:11px 0 0 4px}
.condi_area .anal .rank img{vertical-align:top;margin:-4px 0 0 9px}
.condi_area .anal .ly{float:left;position:absolute;left:0;top:68px;z-index:2;min-width:433px;max-width:600px;margin-left:-290px;padding:4px 5px 2px;border:1px solid #c5c5c5;background:#fff;line-height:14px}
.condi_area .anal ul{padding-top:12px}
.condi_area .anal li{position:relative;height:22px;padding-left:60px;text-align:right;white-space:nowrap}
.condi_area .anal li em{position:absolute;left:0;padding-left:7px;text-align:left;background:url('../../common/images/common/bul_01.gif') no-repeat 0 4px}

.condi_area .tab{ float:left; display:inline-block;height:27px; width:430px; border-bottom:1px solid #888; margin-bottom:10px}
.condi_area .tab li{float:left;width:102px}
.condi_area .tab li a{display:block;width:101px;height:18px;padding-top:8px;border:solid #dcdcdc;border-width:1px 1px 0 0;background:#f2f2f2;color:#666;font-size:12px;text-align:center;text-decoration:none}
.condi_area .tab li.frst a{width:100px;border-width:1px 1px 0}
.condi_area .tab li a.on{position:relative;margin-bottom:-1px;margin-left:-1px;padding-bottom:1px;border:solid #888;border-width:1px 1px 0;background:#fff;color:#333;font-weight:bold;letter-spacing:-1px}
.condi_area .tab li.frst a.on{margin-left:0}

.tbl_default table{width:100%;margin-bottom:25px}
.tbl_default thead th{min-height:14px;padding:7px 0 4px;border:1px solid #cacaca;background:#eaeaea;font-weight:normal;font-size:12px;line-height:14px}
.tbl_default thead .sub th{min-height:14px;padding:3px 0 0}
.tbl_default tbody th{padding:3px 0 0 7px;border:1px solid #dadada;background:#f9f9f9;font-weight:normal;text-align:left;white-space:nowrap}
.tbl_default td{min-height:15px;width:83px;padding:7px 6px 4px;border:1px solid #dadada;text-align:right}
.tbl_default tr.sum th,.section_corpanal .tbl_default tr.sum td{background-color:#f0f0e6}
.tbl_default td.last{background-color:#f9f9f9}
.tbl_default .general td{width:67px;text-align:center}
.tbl_default .flow td{width:72px}
.tbl_default .hasdoc td{width:67px}
.tbl_default .hasdoc td.doc{width:79px;text-align:center;padding:0}
.tbl_default .hasdoc td.doc a{display:block;overflow:hidden;width:10px;height:12px;margin:0 auto;background:url('../../common/images/ico/ico_doc.gif') no-repeat;font-size:1px;text-indent:-1000px}
.tbl_default .nolast td{width:66px}

/* 윗글 아랫글 */
.article_related{overflow:hidden;height:56px;margin:12px 0;border:solid #dadada;border-width:1px 0;background:url('http://img.thinkpool.com/concert/qbot/qbot11/web/images/line_area_2.gif') repeat-x 0 28px} 
.article_related dt{float:left;width:78px;height:20px;padding:8px 0 0 12px;color:#666;font-weight:bold}
.article_related dd{float:left;width:660px;height:20px;padding:8px 0 0}
.article_related dd:hover{ text-decoration: underline}
.article_related dt .prv{padding-right:9px;background:url('http://img.thinkpool.com/concert/qbot/qbot11/web/images/bu_article_up.gif') no-repeat 100% 5px}
.article_related dt .nxt{padding-right:9px;background:url('http://img.thinkpool.com/concert/qbot/qbot11/web/images/bu_article_dn.gif') no-repeat 100% 5px}

.paginate{color:#999;font-size:13px;font-family:굴림;text-align:center}
.paginate span{display:inline-block;padding:0 8px;vertical-align:top}
.paginate a{color:#666}
.paginate strong{color:#f60}
.paginate img{vertical-align:top}

/*팝업*/

#popTop{height:35px;background:#354053}
#popTop h1{padding:11px 0 0 12px;color:#fff;font-size:16px;font-weight:bold}
#popCont{min-width:320px;padding:25px 10px}
#popCont .terms_select{padding:0 0 9px;color:#9c9c9c}
#popCont .terms_select strong{color:#333}
#popCont .terms_select a{color:#999;text-decoration:none}
#popCont .form_cod{margin-bottom:15px;padding:20px 5px 24px 10px;background:#f3f3f4;color:#666;font-weight:bold}
#popCont .form_cod .forms_certi{display:block}
#popCont .form_cod .forms_certi label{float:left;margin:5px 16px 0 10px}
#popCont .form_cod .forms_certi .t_certi{float:left;width:126px;margin-right:15px}
#popCont .form_cod .forms_certi img{float:left}
#popCont .form_cod .forms_certi .tx_status{float:left;margin:11px 0 0 14px}
#popCont .btn_area{text-align:center; margin-top:15px}

.group_grid .tx{ padding:20px 0;text-align:center; color:#666}

.group_grid table.table_grid{width:100%;border-style:solid;border-color:#c2c7d5;border-width:1px 0 1px}
.group_grid table.table_grid th{height:25px;padding-top:3px;border-bottom:1px solid #c2c7d5;background:#eaedf3;color:#54627f;font-weight:bold;text-align:center;text-align:center}
.group_grid table.table_grid td{height:23px;padding-top:3px; text-align:center}
.group_grid table.table_grid:not('.board') tr:nth-child(even) td{background:#f6f6f6}
.group_grid table.table_grid tr.even td{background:#f3f3f4}

#popcon{WIDTH:800px;}
#popwrapper{MIN-HEIGHT: 100%; WIDTH: 800px;POSITION: relative; padding:10px}