HTML {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 100%; PADDING-TOP: 0px
}
#popupWrap {
	POSITION: relative; MIN-HEIGHT: 100%; WIDTH: 100%; MARGIN-BOTTOM: -39px; BACKGROUND: url(/images/richq/popup_top.gif) no-repeat right top;BACKGROUND-color:#FFF
}

#popupWrap H1 {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 30px; WIDTH: auto; PADDING-RIGHT: 30px; PADDING-TOP: 20px
}
#popupContainer {
	PADDING-BOTTOM: 39px
}
#popupWrap .cont {
	PADDING-BOTTOM: 25px; PADDING-LEFT: 30px; WIDTH: auto; PADDING-RIGHT: 30px; CLEAR: both; PADDING-TOP: 25px
}


